@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../views';

body {
    /* Configuration globale Star Wars */
    @apply bg-[#0A0A0A] text-[#e5e7eb] antialiased;
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

.font-starwars { font-family: 'Orbitron', sans-serif; }
.neon-text { text-shadow: 0 0 8px rgba(234, 179, 8, 0.6); }